<div class="kolsherut-links-section">
	{{#link}}
		<div class="kolsherut-link">
			<p class="kolsherut-link-text">{{{text}}}</p>
			<a class="kolsherut-link-link" href="{{{url}}}" target="_blank">לחוץ</a>
		</div>
	{{/link}}
</div>
